:root {
  --pixel-size: 1.3px;
  --grid-cell: calc(var(--pixel-size) * 60);
  --bg: black;

  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;

}


html {
  height: 100%;
  width: 100%;
}

body {
  margin: auto;
  height: 100%;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  /* prevent pinch zoom */
  touch-action: pan-y;
}

.camera {
  width: 100%;
  height: 100%;
  /* width: calc(var(--pixel-size) * 160);
  height: calc(var(--pixel-size) * 160); */
  overflow: hidden;
  background: black;
  position: relative;
  outline: 3px solid;
  outline-color: red;
}

.map {
  background-image: url("./images/backgroundBigCity.png");
  background-repeat: no-repeat;
  width: calc(var(--grid-cell)*20);
  height: calc(var(--grid-cell)*20);
  background-size: 100%;
  animation-direction: alternate;
  animation-timing-function: linear;

  transition: 0.4s linear;
  position: relative;
}





/* CHARACTER */

.wrapper-character {
  position: absolute;
  top: -20px;
  /* display: flex;
  justify-content: center; */
  transition: transform 0.4s;
  transition-timing-function: linear;
}


.character {
  top: -20px;
  width: calc(var(--grid-cell));
  height: calc(var(--grid-cell));
  position: absolute;
  /* background-color: red; */
  overflow: hidden;
  /* transition: transform 0.4s; */
  /* transition-timing-function: linear; */
}

.displayName {
  position: absolute;
  color: greenyellow;
  -webkit-text-stroke: 0.5px greenyellow;
  z-index: 2;
  font-size: medium;
  transform: translate3d(-20%, -200%, 0);
}


.character_spritesheet {
  position: absolute;
  background-image: url("./images/character2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: calc(var(--grid-cell)*2);
  height: calc(var(--grid-cell)*4);
  animation: moveSpriteSheet steps(2) 0.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;


}

.character_spritesheet[facing="right"] {
  /* background-position-y: calc(var(--grid-cell) * 4); */
  background-position-y: calc(var(--grid-cell)*-3);
  /* -90px */
}

.character_spritesheet[facing="left"] {
  background-position-y: calc(var(--grid-cell)*-1);
}

.character_spritesheet[facing="up"] {
  background-position-y: calc(var(--grid-cell)*-2);
}

.character_spritesheet[facing="down"] {
  background-position-y: 0px
}





.character_spritesheet[facing="down"][attack="true"] {
  background-position-y: calc(var(--grid-cell)*-4);
  animation-iteration-count: 0.5 !important;

}


.character_spritesheet[facing="left"][attack="true"] {
  background-position-y: calc(var(--grid-cell)*-5);
  animation-iteration-count: 0.5 !important;


}


.character_spritesheet[facing="up"][attack="true"] {
  background-position-y: calc(var(--grid-cell)*-6);
  animation-iteration-count: 0.5 !important;


}


.character_spritesheet[facing="right"][attack="true"] {
  background-position-y: calc(var(--grid-cell)*-7);
  animation-iteration-count: 0.5 !important;
}


.character_spritesheet[damage="true"] {
  background-position-y: calc(var(--grid-cell)*-8);
  filter: hue-rotate(90deg);
  animation: shake;
  animation-duration: 0.3s;
  animation-iteration-count: 1;

}

.character_spritesheet[died="true"] {
  background-position-y: calc(var(--grid-cell)*-9);
  filter: hue-rotate(180deg);

}

@keyframes moveSpriteSheet {
  0% {
    transform: translate3d(0%, 0%, 0%)
  }

  100% {
    transform: translate3d(-100%, 0, 0)
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}




.cell {
  background-color: lightcyan;
  width: calc(var(--grid-cell));
  height: calc(var(--grid-cell));
  outline: 3px solid;
  outline-color: black;
  z-index: -1;
  opacity: 0%;
  position: absolute;
}


#bottomUI {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: calc(20vh);
  z-index: 5;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}



.dpadParent {
  display: grid;

  width: 60%;
  height: 100%;
  background-color: rgba(229, 229, 229, 0);

  grid-gap: 0.05rem;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 1fr);


}

.dpadButton {
  background: lightslategray;
  opacity: 100%;
  font-size: large;
  border-radius: 15px;
  border-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  opacity: 60%;
}

.dpadButton:hover {
  background-color: lightgreen;
  border-color: white;
  transform: translate3d(0, 3px, 0);

}

.dpadArrow {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  opacity: 100%;
  pointer-events: none;
}

.GameObject {
  background-image: url("./images/chess512.png");
  position: absolute;
  background-size: 100%;
  z-index: -1;
  width: calc(var(--grid-cell));
  height: calc(var(--grid-cell));
}

.inventoryButton {
  background-color: rgba(229, 229, 229, .5);

  border-radius: 16px;
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 4rem;
  height: 2.3rem;
  color: grey;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.inventoryButton:hover {
  background-color: lightgreen;
}