:root {
  --pixel-size: 1.5px;
  --grid-cell: calc(var(--pixel-size) * 60);
  --bg: black;


  --character-action-animation: 40%;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;

}


html {
  height: 100%;
  width: 100%;
}

ul {
  margin-top: 10px;

  padding-left: 3vh;
  padding-right: 3vh;
  list-style-type: none;
}

li {
  margin-top: 10px;
  list-style-type: none
}

body {
  margin: auto;
  height: 100%;
  width: 100%;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  /* prevent pinch zoom */
  /* touch-action: pan-y; */
  touch-action: none;
  overflow-y: hidden;
}

.camera {
  width: 100%;
  height: 100%;
  /* width: calc(var(--pixel-size) * 160);
  height: calc(var(--pixel-size) * 160); */
  overflow: hidden;
  background: black;
  position: relative;
  outline: 3px solid;
  outline-color: red;

  /* transition-timing-function: linear; */
}

.map {
  /* z-index: -100; */
  background-image: url("./images/backgroundBigCity.png");
  background-repeat: no-repeat;
  width: calc(var(--grid-cell)*32);
  height: calc(var(--grid-cell)*32);
  background-size: 100%;
  /* animation-direction: alternate; */
  transition: all 0.4s;
  transition-timing-function: linear;
  transition-property: initial;
  -webkit-transition: -webkit-transform 400ms linear;
  -moz-transition: transform 400ms linear;
  -o-transition: transform 400ms linear;
  -webkit-transition-duration: 400ms;

  animation-play-state: paused;
  transition-delay: 1ms;
  position: relative;
  image-rendering: pixelated;
  /* -webkit-transform: translate3d(0, 0, 0); */
}

/* 
.map[light="true"] {
  background-image: url("./images/backgroundBigCity_off.png");
} */

#lightTest {
  width: 400px;
  height: 400px;
  mix-blend-mode: hard-light;
  position: absolute;
  /* transform: translate3d(2000px, 900px, 0); */
  /* left: 50%; */
  /* left: 50%; */
  margin: 0 auto;
  left: 20%;
  top: 20%;
  background-color: rgb(255, 67, 174);
  z-index: 0;
  border-radius: 100%;
  opacity: 50%;
  filter: blur(12px);
  transform-origin: center;
  animation: lightSize;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes lightSize {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);

  }
}

#darkShadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 11, 43, 0.50);
  mix-blend-mode: overlay;

  pointer-events: none;

  z-index: 3;

}

#darkShadow[light="true"] {
  opacity: 0%;
}

#darkShadow[light="false"] {
  opacity: 100%;
}




/* CHARACTER */

.wrapper-character {
  position: absolute;
  /* -webkit-transform: translate3d(0, 0, 0); */

  top: -20px;
  display: flex;
  justify-content: center;
  transition: all 0.4s;
  transition-timing-function: linear;
  /* transition-property: ; */
  transition-property: initial;
  animation-play-state: paused;
  -webkit-transition-duration: 400ms;
  -webkit-transition: -webkit-transform 400ms linear;
  -moz-transition: transform 400ms linear;
  -o-transition: transform 400ms linear;
  transition-delay: 1ms;

  width: calc(var(--grid-cell));
  height: calc(var(--grid-cell));

}



.character {
  top: -20px;
  width: calc(var(--grid-cell));
  height: calc(var(--grid-cell));
  position: absolute;
  /* background-color: red; */
  overflow: hidden;
  /* transition: transform 0.4s; */
  /* transition-timing-function: linear; */
}

.character[action="west"] {
  animation: actionWest 0.7s;
  animation-iteration-count: 1;
}


.character[action="north"] {
  animation: actionNorth 0.7s;
  animation-iteration-count: 1;
}



.character[action="east"] {
  animation: actionEast 0.7s;
  animation-iteration-count: 1;
}



.character[action="south"] {
  animation: actionSouth 0.7s;
  animation-iteration-count: 1;
}




@keyframes actionWest {
  0% {
    transform: translate3d(0%, 0%, 0%)
  }

  60% {
    transform: translate3d(calc(var(--character-action-animation)*-1), 0, 0)
  }

  100% {
    transform: translate3d(0%, 0, 0)
  }
}

@keyframes actionNorth {
  0% {
    transform: translate3d(0%, 0%, 0%)
  }

  20% {
    transform: translate3d(0%, 10%, 0%)
  }

  60% {
    transform: translate3d(0, calc(var(--character-action-animation)*-1), 0)
  }

  100% {
    transform: translate3d(0%, 0, 0)
  }
}

@keyframes actionEast {
  0% {
    transform: translate3d(0%, 0%, 0%)
  }

  20% {
    transform: translate3d(-20%, 0%, 0%)
  }

  50% {
    transform: translate3d(0%, 0%, 0%)
  }

  60% {
    transform: translate3d(calc(var(--character-action-animation)), 0, 0)
  }

  100% {
    transform: translate3d(0%, 0, 0)
  }
}

@keyframes actionSouth {
  0% {
    transform: translate3d(0%, 0%, 0%)
  }

  60% {
    transform: translate3d(0, calc(var(--character-action-animation)), 0)
  }

  100% {
    transform: translate3d(0%, 0, 0)
  }
}



.displayNameWrapper {
  width: 250%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.displayName {
  position: relative;
  color: yellow;
  font-family: "Gill Sans", sans-serif;
  -webkit-text-stroke: 0.5px greenyellow;
  /* z-index: 2; */
  font-size: medium;
  text-align: center;
  width: 30vh;
  height: 10vh;
  margin: 0 auto;
  padding: 10px;
  overflow-x: visible;
  transform: translate3d(0, -50%, 0);
}

.displayName[npc="true"] {
  color: red;
  -webkit-text-stroke: 0.5px red;

}


.characterShadow {
  position: absolute;
  background-image: url("./images/character_shadow.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 50%;
  height: 50%;
  top: 62%;
  left: 25%;
  /* top: 65px;
  left: 22px; */
}

.character_spritesheet {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  width: calc(var(--grid-cell)*2);
  height: calc(var(--grid-cell)*4);
  animation: moveSpriteSheet steps(2) 0.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  image-rendering: pixelated;
}

.character_male01 {
  background-image: url("./images/male01-128.png");
}

.character_male02 {
  background-image: url("./images/male02-128.png");
}

.character_female01 {
  background-image: url("./images/female01-128.png");
}

.character_female02 {
  background-image: url("./images/female02-128.png");
}

.character_skeleton {
  background-image: url("./images/skeleton-128.png");

}

.character_spritesheet[facing="right"] {
  /* background-position-y: calc(var(--grid-cell) * 4); */
  background-position-y: calc(var(--grid-cell)*-3);
  /* -90px */
}

.character_spritesheet[facing="left"] {
  background-position-y: calc(var(--grid-cell)*-1);
}

.character_spritesheet[facing="up"] {
  background-position-y: calc(var(--grid-cell)*-2);
}

.character_spritesheet[facing="down"] {
  background-position-y: 0px
}

.character_spritesheet[facing="down"][attack="true"] {
  background-position-y: calc(var(--grid-cell)*-4);
  animation-iteration-count: 0.5 !important;
}

.character_spritesheet[facing="left"][attack="true"] {
  background-position-y: calc(var(--grid-cell)*-5);
  animation-iteration-count: 0.5 !important;
}

.character_spritesheet[facing="up"][attack="true"] {
  background-position-y: calc(var(--grid-cell)*-6);
  animation-iteration-count: 0.5 !important;
}

.character_spritesheet[facing="right"][attack="true"] {
  background-position-y: calc(var(--grid-cell)*-7);
  animation-iteration-count: 0.5 !important;
}





.character_spritesheet[eat="true"] {
  background-position-y: calc(var(--grid-cell)*-10);
}


.character_spritesheet[emotion="true"] {
  background-position-y: calc(var(--grid-cell)*-11);
}


/* 
.character_spritesheet[facing="left"][eat="true"] {
  background-position-y: calc(var(--grid-cell)*-10);
  animation-iteration-count: 1
}

.character_spritesheet[facing="up"][eat="true"] {
  background-position-y: calc(var(--grid-cell)*-10);
  animation-iteration-count: 1
}

.character_spritesheet[facing="right"][eat="true"] {
  background-position-y: calc(var(--grid-cell)*-10);
  animation-iteration-count: 1
} */









.character_spritesheet[facing="down"][pick="true"] {
  background-position-y: calc(var(--grid-cell)*-4);
  animation-iteration-count: 0.5 !important;
}

.character_spritesheet[facing="left"][pick="true"] {
  background-position-y: calc(var(--grid-cell)*-5);
  animation-iteration-count: 0.5 !important;
}

.character_spritesheet[facing="up"][pick="true"] {
  background-position-y: calc(var(--grid-cell)*-6);
  animation-iteration-count: 0.5 !important;
}

.character_spritesheet[facing="right"][pick="true"] {
  background-position-y: calc(var(--grid-cell)*-7);
  animation-iteration-count: 0.5 !important;
}





.character_spritesheet[damage="true"] {
  background-position-y: calc(var(--grid-cell)*-8);
  animation: shake;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

.character_spritesheet[died="true"] {
  background-position-y: calc(var(--grid-cell)*-9);
  filter: hue-rotate(180deg);
}

@-webkit-keyframes moveSpriteSheet {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0%)
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0)
  }
}

@keyframes moveSpriteSheet {
  0% {
    transform: translate3d(0%, 0%, 0%)
  }

  100% {
    transform: translate3d(-100%, 0, 0)
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}




.cell {
  /* background-color: lightcyan; */
  width: calc(var(--grid-cell));
  height: calc(var(--grid-cell));
  /* outline: 1px solid;
  outline-color: black; */
  opacity: 0%;
  position: absolute;
}


#bottomUI {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: calc(20vh);
  z-index: 5;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}



.dpadParent {
  display: grid;

  width: 60%;
  height: 100%;
  background-color: rgba(229, 229, 229, 0);

  grid-gap: 0.05rem;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 1fr);


}

.dpadButton {
  background: lightslategray;
  opacity: 100%;
  font-size: large;
  border-radius: 15px;
  border-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  opacity: 60%;
}

.dpadButton:hover {
  background-color: lightgreen;
  border-color: white;
  transform: translate3d(0, 3px, 0);

}

.dpadArrow {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  opacity: 100%;
  pointer-events: none;
}

.GameObject {
  /* background-image: url("./images/chess512.png"); */
  position: absolute;
  background-size: 100%;
  z-index: -1;
  width: calc(var(--grid-cell));
  height: calc(var(--grid-cell));
  transition: all 0.4s;
  transition-timing-function: linear;
}

.WorldItem-Chess {
  background-image: url("./images/chess512.png");
}

.WorldItem-Beer {
  background-image: url("./images/beer.png");

}

.WorldItem-Food-Bread {
  background-image: url("./images/food-bread.png");
}

.WorldItem-Food-Brown {
  background-image: url("./images/food-brown.png");
}

.WorldItem-Food-Donut {
  background-image: url("./images/food-donut.png");
}

.WorldItem-Food-Gogigogi {
  background-image: url("./images/food-gogigogi.png");
}

.WorldItem-Food-Hamburger {
  background-image: url("./images/food-hamburger.png");
}

.WorldItem-Food-Hotdog {
  background-image: url("./images/food-hotdog.png");
}

.WorldItem-Food-Icecream {
  background-image: url("./images/food-icecream.png");
}

.WorldItem-Food-Mexican {
  background-image: url("./images/food-mexican.png");
}

.WorldItem-Food-Pizza {
  background-image: url("./images/food-pizza.png");
}

.WorldItem-Food-Potato {
  background-image: url("./images/food-potato.png");
}

.WorldItem-Food-Rice {
  background-image: url("./images/food-rice.png");
}

.WorldItem-Food-Sandwich {
  background-image: url("./images/food-sandwich.png");
}

.WorldItem-Food-Waffle {
  background-image: url("./images/food-waffle.png");
}

.WorldItem-Food-Lightlamp {
  z-index: 1;
  background-image: url("./images/item-lightlamp.png");
}
.WorldItem-Food-Lightswitch {
  background-image: url("./images/item-lightswitch.png");
}

.WorldItem-Fan {
  background-image: url("./images/fan.png");
  animation: fan steps(2) 0.5s infinite;
}



@keyframes fan {
  0% {
    transform: translate3d(0%, 0%, 0%)
  }

  20% {
    transform: translate3d(-32px, 0, 0)
  }

  40% {
    transform: translate3d(-64px, 0, 0)
  }

}

.inventoryButton {
  background-color: rgba(229, 229, 229, .5);

  border-radius: 16px;
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 4rem;
  height: 2.3rem;
  color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  z-index: 8;

}

.inventoryButton:hover {
  background-color: lightgreen;
}






.sideMenuWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(229, 229, 229, 0);
  z-index: 6;

  display: flex;
  justify-content: right;
  float: right;

  transition: 0.05s;
  overflow-y: hidden;


}

.sideMenu {
  box-shadow: -10px -10px 10px 0px rgba(0, 0, 0, 0.7);
  top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  height: 100%;
  width: 90%;
  background-color: #313C50;
  line-height: 3em;
  /* background-image: url("./images/character2.png"); */
}


.sideMenu-nameInputWrapper {
  background-color: darkslateblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15vh;
  display: flex;
  justify-content: center;
  color: white;
  gap: 5%;
  height: 30%;

}

.sideMenuWrapper[showSideMenu="true"] {
  opacity: 100%;
}

.sideMenuWrapper[showSideMenu="false"] {
  opacity: 0%;
  pointer-events: none;

}

.primary-button {
  background-color: greenyellow;
  color: black;
  border-radius: 15px;
  outline-width: 0px;
  width: 18vh;
  height: 6vh;
  border: 0px;
  font-weight: bolder;
  font-size: medium;
}

.primary-button:hover {
  background-color: orange;
}

.nameInputBox {
  height: 4vh;
  display: block;
}

.divScroll {
  margin: 4px, 4px;
  padding: 4px;
  background-color: darkslateblue;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: justify;
}

.inventoryItemButton {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 13vh;
  border-radius: 10px;
  border-width: 2px;
  color: white;
  text-align: left;
  font-size: xx-large;
}



#modalWindowWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 110;

  display: flex;
  justify-content: center;
  align-items: center;
}

#modalWindow {
  width: 80%;
  height: 80%;
  background-color: darkslateblue;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5vh;
  box-shadow: 3px 5px 10px 10px rgba(0, 0, 0, 0.3);
}

#modalWindowText {
  color: white;
  margin: 5vh;
  font-size: xx-large;
}


#modalWindowWrapper[showModalWindow="true"] {
  opacity: 100%;
}

#modalWindowWrapper[showModalWindow="false"] {
  opacity: 0%;
  pointer-events: none;
}

#modalWindowNoticeIcon {
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
  width: 15vh;
  height: 15vh;
  background-size: 100%;
}

#modalWindowNoticeIcon[error="true"] {
  background-image: url(./images/errorIcon.png);
}

#modalWindowNoticeIcon[error="false"] {
  background-image: url(./images/okIcon.png);

}

.pingPong {
  margin: 0 auto;
  position: fixed;
  color: yellow;
  right: 2rem;
  bottom: 1rem;
  background-color: black;
}

#spriteTest {
  position: fixed;
  right: 50%;
  bottom: 50%;

  width: 100%;
  height: 100%;
  background-image: url("./images/Premade_Character_48x48_11.png");
  z-index: 10;
  image-rendering: pixelated;

}

.connectionStatus {
  position: fixed;
  border-radius: 15px;
  width: 1rem;
  height: 1rem;
  bottom: 0;
  right: 0;
  margin: 5px;
  background-color: black;
  color: white;

}

.connectionStatus[connected="true"] {
  background-color: greenyellow;

}

.connectionStatus[connected="false"] {
  background-color: red;

}



.itemGameObject {
  width: 100%;
  height: 100%;
  background-size: 100%;

}

.itemPickedStatus {
  width: 100%;
  height: 100%;
  position: absolute;

  top: -60%;
  z-index: 15;
}

#eatButton {
  position: absolute;
  width: 20%;
  height: 50%;
  top: -90px;
  left: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;

  /* background-color: red; */
}
#emotionButton{
  position: absolute;
  width: 20%;
  height: 50%;
  top: -90px;
  right: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
}

#WarningMessageWrapper {
  width: 100%;
  height: 30%;
  position: fixed;
  z-index: 10;
  bottom: 70%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-start;
  pointer-events: none;
}

.WarningMessage {
  display: inline-block;
  position: relative;

  color: red;

  pointer-events: none;
  font-weight: bolder;
  text-align: center;
  font-size: x-large;
  width: 100%;
  height: 3vh;
  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;


}

#WarningMessage[display="true"] {
  opacity: 100%;
}

#WarningMessage[display="false"] {
  opacity: 0%;

}





#LoginWindowWrapper {
  font-family: "Gill Sans", sans-serif;
  font-size: large;
  width: 100%;
  height: 100%;
  z-index: 9;
  /* background-color: darkslateblue; */
  background: url("./images/chessbg64.png") repeat 0 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: white;
  text-align: center;

  animation-name: repeat;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes repeat {

  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 64px 64px;
  }
}

.character-select-button {
  width: 20vh;
  height: 20vh;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 1);
  border-style: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-select-button:hover {
  background-color: yellow;
}

.character-select-button[selected="true"] {
  background-color: cyan;
  animation: pikapika 0.1s infinite;
}

@keyframes pikapika {
  0% {
    background-color: palevioletred;
  }

  100% {
    background-color: greenyellow;
  }
}

#LoginDisplayNameInput {
  height: 10vh;
  font-size: large;
  padding: 5px;
  box-shadow: 3px 5px 10px 10px rgba(0, 0, 0, 0.6);

}



#LoginWindowWrapper[turnon="false"] {
  opacity: 0;
  display: none;
}

.force-position-relative {
  top: 10px;
  position: relative !important
}

.character-select-wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 1fr);


}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

#pickButton {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-yellow{

  width: 400px;
  height: 400px;
  mix-blend-mode:color-burn;
  position: absolute;
  background-color: rgb(255, 180, 40);
  z-index: 0;
  border-radius: 100%;
  opacity: 50%;
  filter: blur(14px);
  transform-origin: center;
  left : -160%;
  top : -160%;
  animation: lightSize;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}


.light-pink{

  width: 400px;
  height: 400px;
  mix-blend-mode:color-burn;
  position: absolute;
  background-color: rgb(255, 40, 187);
  z-index: 0;
  border-radius: 100%;
  opacity: 50%;
  filter: blur(14px);
  transform-origin: center;
  left : -160%;
  top : -160%;
  animation: lightSize;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}